.user-categories {
    display: grid;
    grid-template-columns: 173px 230px 86px 69px 47px 134px 14px;
    justify-content: space-between;

    text-align: left;
    /* justify-content: space-between; */
    margin: 20px 60px
    /* background-color: black; */
}

.actions {
    display: inline-block;
    margin-left: -30px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Manrope';
}